*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
ul {
  align-items: center;
  justify-content: center;
  background-color: rgb(86, 167, 187);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.search-form {
  justify-content: center;
  text-align: center;
  align-items: center;

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

//
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  padding: 30px;
  max-width: calc(100vw - 60px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.photo-card {
  border: 1px solid #05044459;
  border-radius: 5px;
  height: 300px;
  background-color: rgb(2, 39, 56);
  overflow: hidden;
  animation-duration: 1500ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    cursor: pointer;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transform: scale(1.05);
  }

  &__img {
    display: block;
    width: 100%;
    height: 75%;
    // height: 200px;
    padding: 2px;
    border-radius: 5px;
    object-fit: cover;
    display: flex;

    filter: grayscale(50%);
    transition: filter 200ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      filter: grayscale(1%);
    }
  }

  &__info {
    display: flex;
    justify-content: center;
  }
}

.stats-item {
  padding: 14px 10px;
  margin: 4px;
  border-radius: 20%;

  transition: all 250ms 250ms;
  color: rgb(240, 243, 245);

  &:hover {
    color: rgb(10, 135, 245);
  }
}
//

button {
  padding: 12px;
  color: aliceblue;

  border-radius: 30px;

  font-size: 24px;
  background-color: rgb(31, 90, 105);
}

.js-input {
  padding: 10px 20px 10px 40px;

  border-radius: 30px;
  outline: none;
  border: 2px solid #eee;

  font-size: 24px;

  background-repeat: no-repeat;
  width: 300px;
  height: 100%;
  text-align: center;
}

.load-more-btn {
  display: block;
  margin: 0 auto;
}
