*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
ul {
  align-items: center;
  justify-content: center;
  background-color: rgb(86, 167, 187);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.search-form {
  display: inline-block;
  margin: 20px, auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 24px;
}

.list {
  flex-basis: calc((100% - 40px) / 3);
}

.photo-card {
  flex-wrap: wrap;
  align-items: baseline;
  margin-left: 10px;
  margin-top: 10px;
  background-color: honeydew;

  &__image {
    max-width: 100%;
    object-fit: cover;
  }

  &__info {
    display: flex;
    justify-content: space-evenly;
  }
}
.stats-item {
  padding: 14px 10px;
  margin: 4px;
  border-radius: 20%;

  transition: all 250ms 250ms;

  &:hover {
    color: rgb(10, 135, 245);
  }
}

js-input {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

button {
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  color: aliceblue;

  font-size: 24px;
  background-color: rgb(31, 90, 105);
}

.js-input {
  padding: 10px 20px 10px 40px;

  border-radius: 30px;
  outline: none;
  border: 2px solid #eee;

  font-size: 24px;

  background-repeat: no-repeat;
  background-position: 15px 15px;
  width: 300px;
  height: 100%;
  text-align: center;
}

.load-more-btn {
  display: block;
  margin: 0 auto;
}
